//variables
$nav-color: #DD0021;
.master{
  font-family: 'BenchNine', sans-serif;
  font-size: 64px;
  margin-top: 150px;
  text-align: center;
  color: #000;
  margin-bottom: 180px;
}
#buton1{
  font-size: 16px;
  font-weight: bold;
}
